include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include google_sheets_connector *.css
recursive-include google_sheets_connector *.csv
recursive-include google_sheets_connector *.html
recursive-include google_sheets_connector *.ico
recursive-include google_sheets_connector *.js
recursive-include google_sheets_connector *.json
recursive-include google_sheets_connector *.md
recursive-include google_sheets_connector *.png
recursive-include google_sheets_connector *.py
recursive-include google_sheets_connector *.svg
recursive-include google_sheets_connector *.txt
recursive-exclude google_sheets_connector *.pyc